body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color:rgb(197, 231, 207);
}

hr{
    width: 500px;
}

h1{
    font-size: 2em;
    color: rgb(121, 114, 109);
    letter-spacing: 0.5em;
    text-shadow: 3px 3px 4px #777;
    padding-top: 5em;
}

div{
    justify-content: center;
    align-items: center;
    padding-top: 13em;
}

.form{
    font-size: 1.5em;
    color: black;
}

.submit{
    height: 50px;
    width: 160px;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background-color: rgba(198,188,178,255);
    border-color: lightgray;
    color: rgb(85, 85, 85);
}

.button{
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background-color: rgba(198,188,178,255);
    border-color: lightgray;
    color: rgb(85, 85, 85);
}

table {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
  }

th{
    text-align: left;
    width:fit-content;
    color: rgb(85, 85, 85);
    background-color: rgb(214, 204, 193);
    font-size: 1.2em;
}

td{
    text-align: center;
    width:fit-content;
    background-color:rgb(208, 243, 219);
    color: rgb(76, 90, 80);
    font-size: 1.2em;
}