body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color: white;
}

h1{
    color: rgb(121, 114, 109);
    letter-spacing: 0.5em;
    text-shadow: 3px 3px 4px #777;
}

hr{
    width: 550px;
}

.attempts {
    color: rgb(121, 114, 109);
}

#attemptsContainer{
    display: inline-block;
    margin-bottom: 0.5em;
}

#basicInfContainer{
    width: 450px;
    margin: 0 auto;
    margin-bottom: 0.5em;
    color: rgb(121, 114, 109);
}
#player{
    float: left;
}
#stopWatch{
    float: right;
}

#board{
    width: 450px; /*Kacheln sind daher 50*50 groß*/
    height: 450px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile{
    width: 48px;
    height: 48px;
    border: 1px solid rgb(193, 182, 161);

    /*Schrift*/
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tile:hover{
    border: 1px solid rgb(192, 71, 236);
}

.tile-start{
    background-color: rgb(181, 214, 191);
    color: black;
}

.horizontal-line{
    border-bottom: 1px solid black;
}

.vertical-line{
    border-right: 1px solid black;
}

#numberOptions{
    width: 400px;
    height: 40px;
    height:auto;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    position: absolute;
    top: 10em;
    left: 5em;
}

.options{
    width: 38px;
    height: 38px;
    border: 1px solid lightgray;

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.options:hover {
    background-color: rgba(198,188,178,255);
}

.hiddenOptions{
    visibility: hidden;
}

.button{
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background-color: rgba(198,188,178,255);
    border-color: lightgray;
    color: rgb(85, 85, 85);
}



