body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr{
    width: 500px;
}

#errors {
    color: rgb(198, 94, 57);
}

#board{
    width: 450px; /*Kacheln sind daher 50*50 groß*/
    height: 450px;
    background-color: rgb(176, 176, 155);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile{
    width: 48px;
    height: 48px;
    border: 1px solid lightgray;

    /*Schrift*/
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tile:hover{
    border: 1px solid aqua;
}

.number{
    width: 44px;
    height: 44px;
    border: 1px solid black;
    margin: 2px;

    /*Schrift*/
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.tile-start{
    background-color: whitesmoke;
}

.horizontal-line{
    border-bottom: 1px solid black;
}

.vertical-line{
    border-right: 1px solid black;
}

#numberOptions{
    width: 400px;
    height: 40px;
    height:auto;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    position: absolute;
    top: 10em;
    left: 5em;
}

.options{
    width: 38px;
    height: 38px;
    border: 1px solid lightgray;

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.options:hover {
    background-color: rgba(0, 255, 255, 0.31);
}

.hiddenOptions{
    visibility: hidden;
}

#überprüfen{
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 255, 255, 0.494);
    border-color: lightgray;
}



